

/* Default styles for larger screens */
.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}


.logo img {
  width: 100px;
}

.navbar li a {
  color: #241c04;
  font-size: 18px;
  font-weight: 500;
  text-decoration: auto;
}

/* Navigation links styles (if needed) */
.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar ul li {
  margin: 0 15px;
}


.navbar-description {
  background-color: rgba(0, 0, 0, 0.7); 
  padding: 10px;
}


.navbar-description p {
  font-size: 14px;
  margin: 0;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: stretch;
  }

  .navbar ul {
    flex-direction: column;
    position: absolute;
    top: 60px; 
    left: 0;
    width: 100%;
    background-color: #ffffff;
    display: none; 
  }

  .navbar ul.show {
    display: flex;
  }

  .navbar li {
    margin: 0;
    text-align: center;
  }

  .navbar a {
    color: #fff;
    text-align: center;
    padding: 10px;
  }

  .navbar a:after {
    content: none; 
  }

  .navbar-toggler {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 24px;
    color: #241c04;
  }
}
/* Hide the hamburger icon on screens wider than 768 pixels */
@media screen and (min-width: 769px) {
  .navbar-toggler {
    display: none;
  }

  .navbar-links {
    display: flex;
    align-items: center;
  }
}







  /* .home-container {
    background-color: #e9e4dd; 
    padding: 20px;
  } */
  .home-container {
    /* background-image: url('/public/navbarphto.avif'); Set the path to your background image */
    /* background-position: center; Center the image */
    /* background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding: 189px 0;
    text-align: center; */


  }
  .home-container {
    background-image: url('/public/navbarphto.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding: 189px 0;
    text-align: center;
    animation: fadeIn 2s ease-in-out; 
}

@keyframes fadeIn {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1;
    }
}
  .property-list {
    margin: 0 auto;
    max-width: 90%;
  }
  
  .property-item {
    padding: 20px;
    margin: 10px;
    width: 50%!important;
    text-align: center;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  .property-item h3,.property-item  p  {
    color:#111111;
    font-weight: 700;
  }
  /* Style the image */
  .property-item img {
    max-width: 100%;
    height: auto;
  }
  
  /* Customize the navigation dots */
  .slick-dots {
    text-align: center;
    color: #fff!important;
  }
  
  .slick-dots li {
    display: inline-block;
    margin: 0 5px;
  }
  .slick-slide img {
    display: inherit!important;
  }
  .slick-dots li.slick-active button:before {
    opacity: .75;
    color: #fff;
}
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 23px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 31px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots {
  position: absolute;
  bottom: -152px;
}